@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;  /* Light gray background */
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Override Material-UI AppBar styles */
.MuiAppBar-root {
  background-color: white !important;
  color: #1a202c !important;
}